[Unit]
Description=Blur API, DB and NGINX
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/ec2-user/blur
Restart=always
ExecStartPre=/usr/local/bin/docker-compose -f infra/docker-compose.yml down -v
ExecStartPre=/usr/local/bin/docker-compose -f infra/docker-compose.yml rm -fsv
ExecStartPre=-/usr/local/bin/docker-compose -f infra/docker-compose.yml pull
ExecStart=/usr/local/bin/docker-compose -f infra/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f infra/docker-compose.yml down -v

[Install]
WantedBy=multi-user.target